---

import { imageConfig } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import JeremyCard from "../components/JeremyCard.astro";
import Options from "../components/Options.astro";
import CardList from "../components/CardList.astro";
import "../sass/variables.scss";
import "../sass/style.scss";

---

<Layout title="Time Tracking">
  <main class="jeremy__card">
    <div class="jeremy">
      <JeremyCard />
      <Options />
    </div>

    <CardList />
  </main>
</Layout>
