---
import "../sass/main.scss";
import "../sass/prueba.scss";
// import "../js/main.js";
---

<main class="jeremy__card">
  <div class="jeremy">
    <div class="jeremy__report-for">
      <img
        src="./images/image-jeremy.png "
        class="jeremy__img"
        alt="image jeremy"
      />

      <div class="jeremy__text_cont">
        <p class="jeremy__desc">Report for</p>
        <h1 class="jeremy__text">Jeremy Robson</h1>
      </div>
    </div>

    <div class="options">
      <p class="options__value" id="daily">Daily</p>
      <p class="options__value" id="weekly">Weekly</p>
      <p class="options__value" id="monthly">Monthly</p>
    </div>
  </div>

  <!-- *************************************************************
************************************************************* -->

  <ul class="items">
    <li class="item item__work">
      <div class="item__image_container">
        <img src="./images/icon-work.svg" class="item__img" alt="icon work " />
      </div>
      <div class="item__cont">
        <img
          id="uno"
          src="./images/icon-ellipsis.svg"
          class="item__icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="item__subject">Subject</p>

        <div class="hours">
          <p class="hours__time"><span class="hours__text-hrs"></span>hrs</p>
          <p class="hours__last_week">
            Last Week - <span class="hours__l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>

    <li class="item item__play">
      <div class="item__image_container">
        <img src="./images/icon-play.svg" class="item__img" alt="icon play" />
      </div>
      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="item__icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="item__subject">Subject</p>

        <div class="hours">
          <p class="hours__time"><span class="hours__text-hrs"></span>hrs</p>
          <p class="hours__last_week">
            Last Week - <span class="hours__l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>

    <li class="item item__study">
      <div class="item__image_container">
        <img src="./images/icon-study.svg" class="item__img" alt="icon study" />
      </div>

      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="item__icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="item__subject">Subject</p>

        <div class="hours">
          <p class="hours__time"><span class="hours__text-hrs"></span>hrs</p>
          <p class="hours__last_week">
            Last Week - <span class="hours__l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>

    <li class="item item__exercise">
      <div class="item__image_container">
        <img
          src="./images/icon-exercise.svg"
          class="item__img"
          alt="icon exercise"
        />
      </div>

      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="item__icon-elipsis"
          alt=""
        />
        <p class="item__subject">Subject</p>

        <div class="hours">
          <p class="hours__time"><span class="hours__text-hrs"></span>hrs</p>
          <p class="hours__last_week">
            Last Week - <span class="hours__l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>
    <li class="item item__social">
      <div class="item__image_container">
        <img
          src="./images/icon-social.svg"
          class="item__img"
          alt="icon social"
        />
      </div>
      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="item__icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="item__subject">Subject</p>
        <div class="hours">
          <p class="hours__time"><span class="hours__text-hrs"></span>hrs</p>
          <p class="hours__last_week">
            Last Week - <span class="hours__l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>
    <li class="item item__self_care">
      <div class="item__image_container">
        <img
          src="./images/icon-self-care.svg"
          class="item__img"
          alt="icon self care"
        />
      </div>
      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="item__icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="item__subject">Subject</p>
        <div class="hours">
          <p class="hours__time"><span class="hours__text-hrs"></span>hrs</p>
          <p class="hours__last_week">
            Last Week - <span class="hours__l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>
  </ul>
</main>

<!-- *************************************************************
************************************************************ -->

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const select = (param) => document.querySelector(param);

    const selecta = (param) => document.querySelectorAll(param);

    const iconElipsis = selecta(".item__icon-elipsis");

    const daily = select("#daily");

    const weekly = select("#weekly");

    const monthly = select("#monthly");

    const subjectsArray = selecta(".item__subject");

    const arrayHoursText = document.querySelectorAll(".hours__text-hrs");
    console.log(arrayHoursText);

    const lastHoursArray = document.querySelectorAll(".hours__l-w-hours-span");

    const url = "../data.json";
    // let finalData = "";

    fetch(url)
      .then((response) => response.json())
      .then((data) => {
        console.log(data);

        daily.addEventListener("click", () => {
          monthly.classList.toggle("active", false);
          weekly.classList.toggle("active", false);
          daily.classList.toggle("active");
          for (let i = 0; i <= 5; i++) {
            subjectsArray[i].innerHTML = data[i].title;
            arrayHoursText[i].innerHTML = data[i].timeframes.daily.current;
            lastHoursArray[i].innerHTML = data[i].timeframes.daily.previous;
          }
        });

        weekly.addEventListener("click", () => {
          daily.classList.toggle("active", false);
          monthly.classList.toggle("active", false);
          weekly.classList.toggle("active");
          for (let i = 0; i <= 5; i++) {
            subjectsArray[i].innerHTML = data[i].title;
            arrayHoursText[i].innerHTML = data[i].timeframes.weekly.current;
            lastHoursArray[i].innerHTML = data[i].timeframes.weekly.previous;
          }
        });

        monthly.addEventListener("click", () => {
          daily.classList.toggle("active", false);
          weekly.classList.toggle("active", false);
          monthly.classList.toggle("active");
          for (let i = 0; i <= 5; i++) {
            subjectsArray[i].innerHTML = data[i].title;
            arrayHoursText[i].innerHTML = data[i].timeframes.monthly.current;
            lastHoursArray[i].innerHTML = data[i].timeframes.monthly.previous;
          }
        });
      });
  });
</script>
