---

import "../sass/prueba.scss";
---



    <div class="jeremy__report-for">
      <img
        src="./images/image-jeremy.png "
        class="jeremy__img"
        alt="image jeremy"
      />

      <div class="jeremy__text_cont">
        <p class="jeremy__desc">Report for</p>
        <h1 class="jeremy__text">Jeremy Robson</h1>
      </div>
    </div>


