---
import '../sass/jeremy.scss'
---

<main class="jeremy__card">
    <div class="jeremy">
        <div class="jeremy__report-for">
          <img
            src="./images/image-jeremy.png "
        
            class="jeremy__img"
            alt="image jeremy"
          />

          <div class="text-cont-jeremy">
            <p class="jeremy__desc">Report for</p>
            <h1 class="jeremy__text">Jeremy Robson</h1>
          </div>
        </div>

        <div class="options">
          <p class="options__value" id="daily">Daily</p>
          <p class="options__value" id="weekly">Weekly</p>
          <p class="options__value" id="monthly">Monthly</p>
        </div>
      </div>

<!-- *************************************************************
************************************************************* -->

<ul class="items__container">
    <li class="item item__work">
      <div class="item__image_container">
        <img src="./images/icon-work.svg" alt="icon work "/>
      </div>
      <div class="item__cont">
        <img
          id="uno"
          src="./images/icon-ellipsis.svg"
          class="icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="subject">Subject</p>
        <div class="hours-cont">
          <p class="hours"><span class="text-hrs"></span>hrs</p>
          <p class="last-week-hours">
            Last Week - <span class="l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>

    <li class="item item__play">
      <div class="item__image_container">
        <img src="./images/icon-play.svg" alt="icon play" />
      </div>
      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="subject">Subject</p>

        <div class="hours-cont">
          <p class="hours"><span class="text-hrs"></span>hrs</p>
          <p class="last-week-hours">
            Last Week - <span class="l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>

    <li class="item item__study">
      <div class="item__image_container">
        <img src="./images/icon-study.svg" alt="icon study" />
      </div>

      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="subject">Subject</p>

        <div class="hours-cont">
          <p class="hours"><span class="text-hrs"></span>hrs</p>
          <p class="last-week-hours">
            Last Week - <span class="l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>

    <li class="item item__exercise">
      <div class="item__image_container">
        <img src="./images/icon-exercise.svg" alt="icon exercise" />
      </div>

      <div class="item__cont">
        <img src="./images/icon-ellipsis.svg" class="icon-elipsis" alt="" />
        <p class="subject">Subject</p>

        <div class="hours-cont">
          <p class="hours"><span class="text-hrs"></span>hrs</p>
          <p class="last-week-hours">
            Last Week - <span class="l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>
    <li class="item item__social">
      <div class="item__image_container">
        <img src="./images/icon-social.svg" alt="icon social" />
      </div>
      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="subject">Subject</p>
        <div class="hours-cont">
          <p class="hours"><span class="text-hrs"></span>hrs</p>
          <p class="last-week-hours">
            Last Week - <span class="l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>
    <li class="item item__self_care">
      <div class="item__image_container">
        <img src="./images/icon-self-care.svg" alt="icon self care" />
      </div>
      <div class="item__cont">
        <img
          src="./images/icon-ellipsis.svg"
          class="icon-elipsis"
          alt="icon ellipsis"
        />
        <p class="subject">Subject</p>
        <div class="hours-cont">
          <p class="hours"><span class="text-hrs"></span>hrs</p>
          <p class="last-week-hours">
            Last Week - <span class="l-w-hours-span"></span>hrs
          </p>
        </div>
      </div>
    </li>
  </ul>



</main>