

---

import "../sass/prueba.scss";
---


    
    <div class="options">
        <p class="options__value" id="daily">Daily</p>
        <p class="options__value" id="weekly">Weekly</p>
        <p class="options__value" id="monthly">Monthly</p>
      </div>
    </div>


  